/* bgBoard.css ----------------------------------------------- */
/* Designed by hinacoppy 2019 - 2021 ------------------------- */

/* Constant definision --------------------------------------- */
:root{
  --boardHeightNum: 100;
  --frameSizeNum: 0;
  --offtrayMarginNum: 5;
  --offtrayHeightNum: 49; /* bgBoardApp=49, other=boardHeightNum */
  --cubeFontSizeNum: 4;
  --labelFontSizeNum: 0.7;
  --stackFontSizeNum: 3.0;
}
.container{
  --point-width:calc(var(--pointWidthNum) * 1vw);
  --board-height-max:calc(var(--boardHeightNum) * 1vh);
  --board-height:calc(var(--boardHeightNum) * 1vh);
  --board-width:calc(var(--boardWidthNum) * 1vw);
  --board-frame-size:calc(var(--frameSizeNum) * 1vw);
  --point-height:calc(var(--boardHeightNum) * 1vh / 2.3);
  --cube-size:calc(var(--cubeSizeNum) * 1vw);
  --cube-font-size:calc(var(--cubeFontSizeNum) * 1vw);
  --label-font-size:calc(var(--labelFontSizeNum) * 1vw);
  --stack-font-size:calc(var(--stackFontSizeNum) * 1vw);
  --offtray-margin:calc(var(--offtrayMarginNum) * 1px);
  --offtray-height:calc(var(--offtrayHeightNum) * 1vh);
}

/* bgboard decoration ---------------------------------------- */
.board{
  position:relative;
  width:var(--board-width);
  height:var(--board-height);
  max-height:var(--board-height-max);
  border:var(--board-frame-size) solid var(--board-frame);
  background-color:var(--board-color);
}
.bar{
  position:absolute;
  width:var(--point-width);
  height:var(--board-height);
  max-height:var(--board-height-max);
  background-color:var(--board-frame);
}
.offtray{
  position:absolute;
  width:var(--point-width);
  height:var(--offtray-height);
  max-height:var(--board-height-max);
  background-color:var(--offtray-color);
}
#offtray1{
  border-right:var(--offtray-margin) solid var(--board-frame);
}
#offtray2{
  border-left:var(--offtray-margin) solid var(--board-frame);
}
.cube{
  position:absolute;
  border-radius:5px; /* 角丸表示 */
  border:1px solid gray;
  text-align:center;
  font-weight:bold;
  font-size:var(--cube-font-size);
  width:var(--cube-size);
  height:var(--cube-size);
  line-height:var(--cube-size);
  color:var(--cube-text);
  background-color:var(--cube-base);
}
.cubeoffer{
  color:var(--cube-offer-fg);
  background-color:var(--cube-offer-bg);
}
.dice{
  position:absolute;
  font-size:var(--point-width);
  z-index:40;
}
.label{
  position:absolute;
  color:var(--label-color);
  text-align:center;
  font-size:var(--label-font-size);
  line-height:var(--board-frame-size);
  width:var(--point-width);
  z-index:5;
}
.stack{
  position:absolute;
  text-align:center;
  font-weight:bold;
  font-size:var(--stack-font-size);
  line-height:var(--point-width);
  width:var(--point-width);
  z-index:30;
  pointer-events:none; /* through drag event into chequer below */
}
.chequer{
  position:absolute;
  width:var(--point-width);
  height:var(--point-width);
  border-radius:50%;
  border:1px solid gray;
  background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0  2px  2px 0 rgba(255,255,255, .1) inset,
              0  2px 10px 0 rgba(255,255,255, .2) inset,
              0 -2px  2px 0 rgba(  0,  0,  0, .1) inset;
  z-index:10;
}
.dragging{
  z-index:999; /* DOMのstyle内に定義されているため、この設定は無視される */
  opacity:0.7;
}

/* Point Triangles ------------------------------------- */
.point{
  position:absolute;
  width:var(--point-width);
  height:var(--point-height);
  max-height:calc(var(--board-height-max) * 0.48);
}
.flash{
  opacity:0.4;
}
.pt_dnev{
  background:linear-gradient(to top    left,  var(--triangle-odd) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to top    right, var(--triangle-odd) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}
.pt_dnod{
  background:linear-gradient(to top    left,  var(--triangle-evn) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to top    right, var(--triangle-evn) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}
.pt_upev{
  background:linear-gradient(to bottom left,  var(--triangle-odd) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to bottom right, var(--triangle-odd) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}
.pt_upod{
  background:linear-gradient(to bottom left,  var(--triangle-evn) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to bottom right, var(--triangle-evn) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}

/* Board Object settings ------------------------------------- */
.cubepos0{
  transform:rotateZ(-90deg);
}
.cubepos1{
  transform:rotateZ(0deg);
}
.cubepos2{
  transform:rotateZ(180deg);
}
.bearoff{
  transform:rotateX(70deg);
}
.turncol1{
  background-color:var(--chequer1);
}
.turncol2{
  background-color:var(--chequer2);
}
.diceface1{
  width:var(--point-width);
  height:var(--point-width);
  stroke:var(--dicepip1);
  fill:var(--diceface1);
}
.diceface2{
  width:var(--point-width);
  height:var(--point-width);
  stroke:var(--dicepip2);
  fill:var(--diceface2);
}
.dicepip1{
  color:var(--dicepip1);
}
.dicepip2{
  color:var(--dicepip2);
}
.stackcol1{
  color:var(--stack1);
  transform:rotateZ(0deg);
}
.stackcol2{
  color:var(--stack2);
  transform:rotateZ(180deg);
}

/* Board Style Configuration -------------------------------------*/
.normalgammon{
  /* App depend constants */
  --boardWidthNum: 84.3;
  --pointWidthNum: 6;
  --cubeSizeNum: 5.5;
  /* color */
  --board-color:#efb;
  --board-frame:#220;
  --triangle-odd:#510;
  --triangle-evn:#015;
  --offtray-color:#efb;
  --bar-color:#905;
  --label-color:#fff;
  --cube-base:#ecc;
  --cube-text:#222;
  --cube-offer-bg:#08f;
  --cube-offer-fg:#f80;
  --stack1:#000;
  --stack2:#000;
  --chequer1:#0df;
  --chequer2:#f0d;
  --diceface1:#0df;
  --diceface2:#f0d;
  --dicepip1:#000;
  --dicepip2:#000;
}
.shortgammon{
  /* App depend constants */
  --boardWidthNum: 84.4;
  --pointWidthNum: 7;
  --cubeSizeNum: 6.4;
  /* color */
  --board-color:#def;
  --board-frame:#022;
  --triangle-odd:#401;
  --triangle-evn:#014;
  --offtray-color:#def;
  --bar-color:#095;
  --label-color:#fff;
  --cube-base:#ecc;
  --cube-text:#222;
  --cube-offer-bg:#08f;
  --cube-offer-fg:#f80;
  --stack1:#000;
  --stack2:#000;
  --chequer1:#cc0;
  --chequer2:#0fd;
  --diceface1:#cc0;
  --diceface2:#0fd;
  --dicepip1:#000;
  --dicepip2:#000;
}
.longgammon{
  /* App depend constants */
  --boardWidthNum: 80.4;
  --pointWidthNum: 5;
  --cubeSizeNum: 4.5;
  /* color */
  --board-color:#fdf;
  --board-frame:#022;
  --triangle-odd:#410;
  --triangle-evn:#041;
  --offtray-color:#fdf;
  --bar-color:#095;
  --label-color:#fff;
  --cube-base:#ecc;
  --cube-text:#222;
  --cube-offer-bg:#08f;
  --cube-offer-fg:#f80;
  --stack1:#000;
  --stack2:#000;
  --chequer1:#c0c;
  --chequer2:#0cc;
  --diceface1:#c0c;
  --diceface2:#0cc;
  --dicepip1:#000;
  --dicepip2:#000;
}
.microgammon{
  /* App depend constants */
  --boardWidthNum: 83;
  --pointWidthNum: 8.3;
  --cubeSizeNum: 6.7;
  /* color */
  --board-color:#fde;
  --board-frame:#022;
  --triangle-odd:#104;
  --triangle-evn:#401;
  --offtray-color:#fde;
  --bar-color:#095;
  --label-color:#fff;
  --cube-base:#ecc;
  --cube-text:#222;
  --cube-offer-bg:#08f;
  --cube-offer-fg:#f80;
  --stack1:#000;
  --stack2:#000;
  --chequer1:#0cc;
  --chequer2:#f0d;
  --diceface1:#0cc;
  --diceface2:#f0d;
  --dicepip1:#000;
  --dicepip2:#000;
}
.hypergammon{
  /* App depend constants */
  --boardWidthNum: 84.3;
  --pointWidthNum: 6;
  --cubeSizeNum: 5.5;
  /* color */
  /* iti board */
  --board-color:#ccc;
  --board-frame:#555;
  --triangle-odd:#333;
  --triangle-evn:#666;
  --offtray-color:#ccc; /* = --board-color */
  --bar-color:#555; /* = --board-frame */
  --label-color:#ddd;
  --cube-base:#ecc;
  --cube-text:#222;
  --cube-offer-bg:#fcc;
  --cube-offer-fg:#22f;
  --stack1:#106; /* = --dicepip1 */
  --stack2:#606; /* = --dicepip2 */
  --chequer1:#33f;
  --chequer2:#fff;
  --diceface1:#33f; /* = --chequer1 */
  --diceface2:#fff; /* = --chequer2 */
  --dicepip1:#fff;
  --dicepip2:#000;
}
.nackgammon{
  /* App depend constants */
  --boardWidthNum: 84.3;
  --pointWidthNum: 6;
  --cubeSizeNum: 5.5;
  /* color */
  /* gnu brown-white */
  --board-color:#321;
  --board-frame:#732;
  --triangle-odd:#da8;
  --triangle-evn:#779;
  --offtray-color:#311;
  --bar-color:#732;
  --label-color:#fff;
  --cube-base:#da6;
  --cube-text:#008;
  --cube-offer-bg:#fc8;
  --cube-offer-fg:#0ff;
  --stack1:#000;
  --stack2:#000;
  --chequer1:#fdc;
  --chequer2:#d75;
  --diceface1:#fdc;
  --diceface2:#d75;
  --dicepip1:#000;
  --dicepip2:#000;
}
.sugo8gammon{
  /* App depend constants */
  --boardWidthNum: 84.3;
  --pointWidthNum: 6;
  --cubeSizeNum: 5.5;
  /* color */
  --board-color:#bfe;
  --board-frame:#220;
  --triangle-odd:#510;
  --triangle-evn:#015;
  --offtray-color:#bfe;
  --bar-color:#905;
  --label-color:#fff;
  --cube-base:#ecc;
  --cube-text:#222;
  --cube-offer-bg:#08f;
  --cube-offer-fg:#f80;
  --stack1:#000;
  --stack2:#000;
  --chequer1:#df0;
  --chequer2:#f0d;
  --diceface1:#df0;
  --diceface2:#f0d;
  --dicepip1:#000;
  --dicepip2:#000;
}
.halfgammon{
  /* undefined */
}
