/* FloatWindow2.css */
/* 参考：http://webnonotes.com/javascript-2/fake-window/ */

.modalContainer{
  background-color:#ffe;
  border:solid #00f 2px;
  position:absolute;
  z-index:99;
}
.modalContainer button{ /* ボタン */
  all:initial; /* ボタンCSS初期化 */
  background-color:#eee;
  padding:0 5px;
  cursor:pointer;
  margin-right:5px;
}
.modalTitle{
  width:100%;
  height:35px;
  line-height:35px; /* 上下中央揃え */
  font-weight:bold;
  text-indent:1em;
  background:#777;
  color:white;
  text-align:right;
  cursor:move;
}
.modalTitleText{
  float:left; /* 閉じるボタンを右寄せ */
}
.modalBody{ /* データ表示 */
  margin:0;
  padding:20px;
}
